* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: brown;
  color: rgb(255, 255, 255);
  background-image: url(img.jpg);
  backdrop-filter: blur();
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 36px;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 15px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.5s;
}
h1 {
  font-size: 20px;
  text-align: center;
}
